body {
  margin: 0;
}

.wrapper {
  overflow: hidden;
}

.heading {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding: 0 0 25px;
  margin: 0 0 25px;
}

.heading:after {
  content: '';
  position: absolute;
  width: 170px;
  height: 3px;
  background: #ffe600;
  bottom: 0;
  left: 43%;
}

.heading h3 {
  font: 16px/19px Oswald, sans-serif;
  margin: 0 0 25px;
  color: #515151;
}

.heading h2 {
  font: bold 30px/35px Oswald, sans-serif;
  margin: 0;
  color: #000;
}

.dark-section {
  background: #12191d;
  text-align: center;
  padding: 60px 0;
  color: #fff;
}

.dark-section h2 {
  color: #fff;
  font: bold 30px/35px Oswald, sans-serif;
  margin: 0 0 25px;
}

.dark-section p {
  font: 300 16px/25px  Oswald, sans-serif;
  margin: 0 0 66px;
}

.btn-large {
  padding: 22px 51px;
  color: #12191d;
  background: #ffe600;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font: bold 20px/30px Oswald, sans-serif;
  text-transform: uppercase;
  display: inline-block;
}

.btn-large:active, .btn-large:hover {
  background: #fff;
  color: #ffe600;
  text-decoration: none;
}

.arrow {
  padding: 15px 19px;
  color: #fff;
  background: #ffe600;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font: bold 20px/30px Oswald, sans-serif;
  position: absolute;
  bottom: 0;
  left: 48%;
}

.arrow:active, .arrow:hover {
  background: #fff;
  color: #ffe600;
  text-decoration: none;
}

@font-face {
  font-family: 'Oswald';
  src: local("../fonts/oswald/Oswald Light"), local("../fonts/oswald/Oswald-Light"), url("../fonts/oswald/Oswaldlight.woff2") format("woff2"), url("../fonts/oswald/Oswaldlight.woff") format("woff"), url("../fonts/oswald/Oswaldlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: local("../fonts/oswald/Oswald Regular"), local("../fonts/oswald/Oswald-Regular"), url("../fonts/oswald/Oswaldregular.woff2") format("woff2"), url("../fonts/oswald/Oswaldregular.woff") format("woff"), url("../fonts/oswald/Oswaldregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: local("../fonts/oswald/Oswald Bold"), local("../fonts/oswald/Oswald-Bold"), url("../fonts/oswald/Oswaldbold.woff2") format("woff2"), url("../fonts/oswald/Oswaldbold.woff") format("woff"), url("../fonts/oswald/Oswaldbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons/icomoon.eot?2jki9j");
  src: url("../fonts/icons/icomoon.eot?2jki9j#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?2jki9j") format("truetype"), url("../fonts/icons/icomoon.woff?2jki9j") format("woff"), url("../fonts/icons/icomoon.svg?2jki9j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-analys:before {
  content: "\e900";
}

.icon-arrows:before {
  content: "\e901";
}

.icon-arrows-top:before {
  content: "\e902";
}

.icon-camera:before {
  content: "\e903";
}

.icon-clock:before {
  content: "\e904";
}

.icon-cloud:before {
  content: "\e905";
}

.icon-delivery:before {
  content: "\e906";
}

.icon-design:before {
  content: "\e907";
}

.icon-dribble:before {
  content: "\e908";
}

.icon-facebook:before {
  content: "\e909";
}

.icon-finger:before {
  content: "\e90a";
}

.icon-fynalis:before {
  content: "\e90b";
}

.icon-google:before {
  content: "\e90c";
}

.icon-house:before {
  content: "\e90d";
}

.icon-left-arrow:before {
  content: "\e90e";
}

.icon-mail:before {
  content: "\e90f";
}

.icon-pen:before {
  content: "\e910";
}

.icon-phone:before {
  content: "\e911";
}

.icon-prep:before {
  content: "\e912";
}

.icon-right-arrow:before {
  content: "\e913";
}

.icon-setting:before {
  content: "\e914";
}

.icon-support:before {
  content: "\e915";
}

.icon-test:before {
  content: "\e916";
}

.icon-twitter:before {
  content: "\e917";
}

.icon-working:before {
  content: "\e918";
}

.header {
  background: #122a2f;
  padding: 17px 0 25px;
  z-index: 1000;
}

.logo {
  float: left;
}

#nav {
  float: right;
  margin: 28px;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font: bold 14px/20px Oswald, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

#nav ul li {
  display: inline;
  padding: 0 52px 0 0;
  position: relative;
}

#nav ul li:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #ffe600;
  top: 37%;
  left: 65%;
}

#nav ul li:last-child {
  padding: 0;
}

#nav ul li:last-child:after {
  display: none;
}

#nav ul li a {
  color: #fff;
}

#nav ul li a:active, #nav ul li a:hover {
  color: #ffe600;
  text-decoration: none;
}

.is-sticky .header {
  padding: 8px 0;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.48);
  box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.48);
}

.info-box {
  background: #11343a;
  padding: 290px 0 231px;
  position: relative;
}

.title {
  background: #122a2f;
  padding: 71px 0 65px 0;
  text-align: center;
}

.title h1 {
  color: #fff;
  font: bold 65px/70px Oswald;
  margin: 0 0 47px;
}

.services {
  padding: 61px 0 66px;
  text-align: center;
  font: 300 16px/25px Oswald, sans-serif;
  color: #707070;
}

.services p {
  margin: 0 0 62px;
}

.ico-holder {
  width: 106px;
  height: 106px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffe600;
  color: #fff;
  font-size: 40px;
  margin: 0 auto;
}

.ico-holder i {
  color: #fff;
}

.process h2 {
  color: #ffe600;
}

.list-item h4 {
  font: bold 20px/25px Oswald, sans-serif;
  color: #fff;
  margin: 0 0 25px;
}

.list-item p {
  font: 300 16px/20px Oswald, sans-serif;
  color: #fff;
  margin: 0;
}

.list-item i {
  font-size: 40px;
  color: #ffe600;
  margin: 0 0 30px;
  display: block;
}

.work-example {
  padding: 60px 0;
  text-align: center;
}

.work-example p {
  margin: 0 0 60px;
  font: 300 16px/25px Oswald, sans-serif;
  color: #707070;
}

.work-section {
  margin: 0 0 60px;
  padding: 0;
  list-style: none;
  font: 16px/20px Oswald, sans-serif;
  color: #515151;
  text-transform: uppercase;
}

.work-section li {
  display: inline;
  position: relative;
  padding: 0 50px 0  0;
}

.work-section li:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #ffe600;
  top: 37%;
  right: 21px;
}

.work-section li:last-child {
  padding: 0;
}

.work-section li:last-child:after {
  display: none;
}

.work-section li a {
  color: #515151;
}

.work-section li a:active, .work-section li a:hover {
  color: #ffe600;
  text-decoration: none;
}

.info-window {
  text-align: left;
  margin: 0 0 60px;
}

.info-window .info-image {
  width: 653px;
  height: 437px;
  background: #11343a;
}

.info-window h4 {
  font: 25px/30px Oswald, sans-serif;
  color: #515151;
  margin: 0 0 25px;
}

.info-window p {
  font: 300 16px/25px Oswald, sans-serif;
  color: #707070;
  margin: 0 0 25px;
}

.info-window .btn-large {
  color: #fff;
}

.info-window .btn-large:active, .info-window .btn-large:hover {
  background: #131316;
  color: #ffe600;
}

.images img {
  width: 320px;
  height: 250px;
  background: #000;
}

.images .col-md-2 {
  padding: 0;
}

.numbers h2 {
  color: #fff;
}

.number-box {
  border: 1px solid #ffe600;
  width: 270px;
  height: 142px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter {
  display: block;
  font: bold 40px/45px Oswald, sans-serif;
  color: #fff;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

.caption {
  font: 16px/20px Oswald, sans-serif;
  color: #ffe600;
  display: block;
  text-transform: uppercase;
}

.info-section {
  padding: 60px 0;
  text-align: center;
}

.info-section p {
  font: 300 16px/25px Oswald, sans-serif;
  color: #707070;
  margin: 0 0 65px;
}

.benefits {
  text-align: left;
  margin: 0 0 35px;
}

.benefits .benefits-icon {
  background: #ffe600;
  width: 71px;
  height: 71px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits .benefits-icon i {
  font-size: 40px;
  color: #fff;
}

.benefits h4 {
  font: 16px/20px Oswald, sans-serif;
  color: #515151;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.benefits p {
  font: 300 16px/25px Oswald, sans-serif;
  color: #707070;
  margin: 0;
}

.team {
  padding: 60px 0;
  text-align: center;
}

.team h2 {
  font: bold 30px/35px Oswald, sans-serif;
  color: #000;
  margin: 0 0 25px;
}

.team p {
  font: 300 16px/25px Oswald, sans-serif;
  color: #707070;
  margin: 0 0 25px;
}

.person .photo {
  width: 250px;
  height: 270px;
  background: #11343a;
  margin: 0 0 25px;
}

.person .name {
  font: 20px/25px Oswald, sans-serif;
  color: #ffe600;
  display: block;
  margin: 0 0 5px;
}

.person .position {
  font: 16px/20px Oswald, sans-serif;
  color: #707070;
  display: block;
}

.speach {
  background: #131316;
  font: 300 16px/25px Oswald, sans-serif;
  color: #fff;
  text-align: left;
  padding: 66px 195px 42px 206px;
}

.speach h4 {
  font: 20px/25px Oswald, sans-serif;
  color: #ffe600;
  margin: 0 0 24px;
}

.speach p {
  margin: 0 0 24px;
}

.speach .links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.speach .links li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 37px;
  height: 37px;
  border: 1px solid #fff;
}

.speach .links li a {
  color: #fff;
  text-decoration: none;
}

.speach .links li i {
  font-size: 18px;
}

.features p {
  font: 300 16px/25px Oswald, sans-serif;
}

.progress {
  position: relative;
  margin: 0 0 25px;
  text-align: center;
}

.progress p {
  position: absolute;
  font: 300 35px/40px Oswald, sans-serif;
  margin: 0;
  color: #ffe600;
  top: 36%;
  left: 34%;
}

.progress .percent {
  font: 300 35px/40px Oswald, sans-serif;
  color: #ffe600;
}

.skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.skills .caption {
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
}

.clients {
  padding: 60px 0 120px;
  font: 300 16px/25px Oswald, sans-serif;
  text-align: center;
}

.clients p {
  padding: 0 0 60px;
  margin: 0 auto;
  width: 959px;
}

.clients .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: block;
  position: absolute;
  left: 43%;
  bottom: -90px;
}

.clients .owl-carousel .owl-dots.disabled .owl-next,
.clients .owl-carousel .owl-dots.disabled .owl-prev, .owl-carousel .owl-nav.disabled .owl-next,
.owl-carousel .owl-nav.disabled .owl-prev {
  display: inline-block;
  text-indent: -9999px;
  width: 31px;
  height: 31px;
  background: #ffe600;
  position: relative;
  margin: 0 30px 0 0;
}

.clients .owl-carousel .owl-dots.disabled .owl-next:before, .owl-carousel .owl-nav.disabled .owl-next:before {
  content: '\e913';
  position: absolute;
  font-family: 'icomoon';
}

.remarks blockquote p {
  width: 545px;
  margin: 0 auto;
  padding: 0 0 60px;
  font: 400 20px/25px Oswald, sans-serif;
  position: relative;
}

.remarks blockquote p:after {
  content: '';
  position: absolute;
  width: 170px;
  height: 2px;
  background: #ffe600;
  bottom: 25px;
  left: 34%;
}

.remarks blockquote cite {
  font: 16px/20px Oswald, sans-serif;
}

.contacts {
  padding: 60px 0;
  font: 300 16px/25px Oswald, sans-serif;
  text-align: center;
}

.contacts p {
  margin: 0 0 60px;
}

.contact-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.contact-data i {
  font-size: 40px;
  color: #ffe600;
  display: block;
  margin: 0 0 25px;
}

.contact-data h4 {
  font: 400 20px/25px Oswald, sans-serif;
  margin: 0 0 25px;
  text-transform: uppercase;
}

.contact-data p {
  font: 400 20px/25px Oswald, sans-serif;
}

.inversion-forms input, .inversion-forms textarea {
  border: 1px solid #fff;
  width: 100%;
  background: transparent;
  font: 300 15px/39px Oswald, sans-serif;
  color: #fff;
  padding: 10px;
  margin: 0 0 25px;
}

.inversion-forms textarea {
  height: 221px;
  resize: none;
}

.inversion-forms input::-webkit-input-placeholder {
  color: #fff;
}

.inversion-forms input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.inversion-forms input:-moz-placeholder {
  color: #fff;
}

.inversion-forms input:-ms-input-placeholder {
  color: #fff;
}

input, textarea {
  border: 1px solid #000;
  width: 100%;
  background: transparent;
  font: 300 15px/39px Oswald, sans-serif;
  color: #000;
  padding: 10px;
  margin: 0 0 25px;
}

textarea {
  height: 221px;
  resize: none;
}

input::-webkit-input-placeholder {
  color: #000;
}

input::-moz-placeholder {
  color: #000;
  opacity: 1;
}

input:-moz-placeholder {
  color: #000;
}

input:-ms-input-placeholder {
  color: #000;
}

.footer {
  background: #131316;
  padding: 60px 0;
  text-align: center;
  font: 300 16px/20px Oswald, sans-serif;
  color: #fff;
  position: relative;
}

.footer p {
  margin: 0 0 25px;
}

.footer .mark {
  color: #ffe600;
}

.socialnetworks {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 20px;
}

.socialnetworks li {
  display: inline-block;
  padding: 0 10px;
}

.socialnetworks li:last-child {
  padding: 0 0 0 10px;
}

.socialnetworks li a {
  color: #fff;
}

.socialnetworks li a:hover {
  text-decoration: none;
  color: #b3b3b3;
}

.feedback {
  padding: 60px 0;
  font: 300 16px/25px Oswald, sans-serif;
  color: #707070;
  text-align: center;
  position: relative;
}

.feedback h2 {
  font: bold 30px/35px Oswald, sans-serif;
  color: #000;
  margin: 0 0 25px;
}

.feedback p {
  margin: 0 0 25px;
}

.feedback .arrow {
  bottom: 90%;
}

.feedback .arrow:hover {
  background: #131316;
  color: #ffe600;
}

.feedback .btn-large {
  color: #fff;
}

.feedback .btn-large:hover {
  background: #131316;
  color: #ffe600;
}

/*# sourceMappingURL=all.css.map */