.btn-large{
	@include button (22px, 51px, $darker, $brand-color);
	border:none;
	box-shadow:none;
	font:bold 20px/30px Oswald, sans-serif;
	text-transform:uppercase;
	display: inline-block;

        &:active,
		&:hover{
		background: #fff;
		color:$brand-color;
		text-decoration: none;
	}
} 
.arrow{
	@include button (15px, 19px, #fff, $brand-color);
	border:none;
	box-shadow:none;
	font:bold 20px/30px Oswald, sans-serif;
	position: absolute;
	bottom:0;
	left:48%;

	
    &:active,
	&:hover{
		background: #fff;
		color:$brand-color;
		text-decoration: none;
	}
}