.clients{
	padding:60px 0 120px;
	font:300 16px/25px Oswald, sans-serif;
	text-align:center;

	& p{
		padding:0 0 60px;
		margin:0 auto;
		width: 959px;
	}
}
.clients .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
	display:block;
	position: absolute;
	left:43%;
	bottom:-90px;

	& .owl-next,
	  .owl-prev{
		display: inline-block;
		text-indent: -9999px;
		width: 31px;
		height: 31px;
		background: $brand-color;
		position: relative;
		margin: 0 30px 0 0;
	}
	& .owl-next:before{
		content: '\e913';
		position: absolute;
		font-family: 'icomoon';
	}
}