body{
	margin:0;
}
.wrapper{
	overflow: hidden;
}
.heading{
	text-transform:uppercase;
	text-align:center;
	position: relative;
	padding:0 0 25px;
	margin:0 0 25px;

	&:after{
		content:'';
		position: absolute;
		width: 170px;
		height:3px;
		background: $brand-color;
		bottom:0;
		left:43%;
	}

	& h3{
		font:16px/19px Oswald, sans-serif;
		margin: 0 0 25px;
		color:#515151;
	}
	& h2{
		font:bold 30px/35px Oswald, sans-serif;
		margin: 0;
		color:#000;
	}
}
.dark-section{
	background: $darker;
	text-align:center;
	padding:60px 0;
	color:$text-color-light;

	& h2{
		color: #fff;
		font:bold 30px/35px Oswald, sans-serif;
		margin:0 0 25px;
	}

	& p{
		font:300 16px/25px  Oswald, sans-serif;
		margin: 0 0 66px;
	}
}