.contacts{
	padding:60px 0;
	font:300 16px/25px Oswald, sans-serif;
	text-align:center;

	& p{
		margin: 0 0 60px;
	}
}
.contact-data{
	display:flex;
	justify-content:space-around;
	& i{
		font-size: 40px;
		color: $brand-color;
		display: block;
		margin: 0 0 25px;
	}
	& h4{
		font:400 20px/25px Oswald, sans-serif;
		margin: 0 0 25px;
		text-transform: uppercase;
	}
	& p{
		font:400 20px/25px Oswald, sans-serif;
	}
}