.work-example{
	padding:60px 0;
	text-align:center;

	& p{
		margin:0 0 60px;
		font:300 16px/25px Oswald, sans-serif;
		color: $text-color-dark;
	}
}
.work-section{
	margin:0 0 60px;
	padding:0;
	list-style:none;
	font: 16px/20px Oswald, sans-serif;
	color: #515151;
	text-transform: uppercase;

	& li{
		display: inline;
		position: relative;
		padding:0 50px 0  0;

		&:after{
				content: '';
				position: absolute;
				width: 5px;
				height: 5px;
				background: $brand-color;
				top:37%;
				right:21px;
			}
			&:last-child{
				padding:0;
			}
			&:last-child:after{
				display: none;
			}

			& a{
				color:#515151;

			&:active,
			&:hover{
				color:$brand-color;
				text-decoration: none;
			}
		}
	}
}
.info-window{
	text-align:left;
	margin:0 0 60px;

	& .info-image{
		width: 653px;
		height: 437px;
		background: #11343a;
	}

	& h4{
		font:25px/30px Oswald, sans-serif;
		color:#515151;
		margin:0 0 25px;
	}
	& p{
		font: 300 16px/25px Oswald, sans-serif;
		color:$text-color-dark;
		margin:0 0 25px;
	}
	& .btn-large{
		color:$text-color-light;
		
		&:active,
		&:hover{
		background:$dark;
		color:$brand-color;
	}
	}
}
.images img{
	width:320px;
	height:250px;
	background: #000;
}
.images{
	& .col-md-2{
		padding:0;
	}

}
