.features{
	& p{
		font:300 16px/25px Oswald, sans-serif;
	}
}
.progress{
	position: relative;
	margin:0 0 25px;
	text-align:center;

	& p{
		position: absolute;
		font:300 35px/40px Oswald, sans-serif;
		margin:0;
		color:$brand-color;
		top:36%;
		left:34%;
	}

	& .percent{
		font:300 35px/40px Oswald, sans-serif;
		color: $brand-color;
	}
}
.skills{
	display:flex;
	justify-content:center;
	align-items:center;
	position: relative;

	& .caption{
		position: absolute;
		bottom:-35px;
		left:0;
		right: 0;
	}
}