.feedback{
	padding:60px 0;
	font:300 16px/25px Oswald, sans-serif;
	color:$text-color-dark;
	text-align:center;
	position: relative;

	& h2{
		font:bold 30px/35px Oswald, sans-serif;
		color:#000;
		margin:0 0 25px;
	}

	& p{
		margin: 0 0 25px;
	}
	& .arrow{
		bottom:90%;
		&:hover{
			background: $dark;
			color: $brand-color;
		}
	}
	& .btn-large{
		color:$text-color-light;

		&:hover{
			background: $dark;
			color: $brand-color; 
		}
	}
}