.footer{
	background: $dark;
	padding:60px 0;
	text-align:center;
	font:300 16px/20px Oswald, sans-serif;
	color:$text-color-light;
	position: relative;

	& p{
		margin: 0 0 25px;
	}
	& .mark{
		color:$brand-color;
	}
	& .arrow{
		
	}
}
.socialnetworks{
	margin:0 0 40px;
	padding:0;
	list-style:none;
	color:#fff;
	font-size:20px;

	& li{
		display: inline-block;
		padding: 0 10px;

		&:last-child{
			padding:0 0 0 10px;
		}

		& a{
			color:$text-color-light;

			&:hover{
				text-decoration: none;
				color:darken($text-color-light, 30%);
			}
		}
	}
}