.inversion-forms{

	& input, textarea{
	border:1px solid #fff;
	width:100%;
	background: transparent;
	font:300 15px/39px Oswald, sans-serif;
	color:#fff;
	padding:10px;
	margin:0 0 25px;
	}
	& textarea{
		height: 221px;
		resize:none;
	}

	& input::-webkit-input-placeholder {color:#fff;}
	& input::-moz-placeholder {
		color:#fff;
		opacity: 1;
	}
	& input:-moz-placeholder {color:#fff;}
	& input:-ms-input-placeholder {color:#fff;}
}

& input, textarea{
	border:1px solid #000;
	width:100%;
	background: transparent;
	font:300 15px/39px Oswald, sans-serif;
	color:#000;
	padding:10px;
	margin:0 0 25px;
}
& textarea{
	height: 221px;
	resize:none;
}

& input::-webkit-input-placeholder {color:#000;}
& input::-moz-placeholder {
	color:#000;
	opacity: 1;
}
& input:-moz-placeholder {color:#000;}
& input:-ms-input-placeholder {color:#000;}