.header{
	background: #122a2f;
	padding:17px 0 25px;
	z-index:1000;
}
.logo{
	float:left;
}
#nav{
	float:right;
	margin:28px;

	& ul{
		margin:0;
		padding: 0;
		list-style: none;
		font:bold 14px/20px Oswald, sans-serif;
		color: #fff;
		text-transform: uppercase;
	
		& li{
			display: inline;
			padding: 0 52px 0 0;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				width: 5px;
				height: 5px;
				background: $brand-color;
				top:37%;
				left:65%;
			}
			&:last-child{
				padding:0;
			}
			&:last-child:after{
				display: none;
			}

					& a{
				color:#fff;

                &:active,
				&:hover{
					color:$brand-color;
					text-decoration: none;
				}
			}
		}
	}
}
.is-sticky .header{
	padding:8px 0;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.48);
    -moz-box-shadow:0px 3px 8px 0px rgba(50, 50, 50, 0.48);
    box-shadow:0px 3px 8px 0px rgba(50, 50, 50, 0.48);
}