.process{
	& h2{
		color:$brand-color;
	}
}
.list-item{
	& h4{
		font:bold 20px/25px Oswald, sans-serif;
		color:$text-color-light;
		margin: 0 0 25px;
	}
	& p{
		font:300 16px/20px Oswald, sans-serif;
		color:$text-color-light;
		margin: 0;
	}
	& i{
		font-size: 40px;
		color:$brand-color;
		margin:0 0 30px;
		display: block;
	}
}