.info-section{
	padding:60px 0;
	text-align:center;

	& p{
		font:300 16px/25px Oswald, sans-serif;
		color:$text-color-dark;
		margin:0 0 65px;
	}
}
.benefits{
	text-align:left;
	margin:0 0 35px;

	& .benefits-icon{
		background: $brand-color;
		width: 71px;
		height: 71px; 
		border-radius:50%;
		display: flex;
		justify-content: center;
		align-items:center;
	& i{
		font-size: 40px;
		color:$text-color-light;
	}
}

	& h4{
		font:16px/20px Oswald, sans-serif;
		color: #515151;
		text-transform: uppercase;
		margin:0 0 15px;
	}

	& p{
		font:300 16px/25px Oswald, sans-serif;
		color: $text-color-dark;
		margin: 0;
	}
}