.numbers{
	& h2{
		color:$text-color-light;
	}
}
.number-box{
	border: 1px solid $brand-color;
	width:270px;
	height:142px;
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
}
.counter{
		display: block;
		font:bold 40px/45px Oswald, sans-serif;
		color:$text-color-light;
		margin:0 0 5px 0;
		text-transform: uppercase;
}

.caption{
		font:16px/20px Oswald, sans-serif;
		color:$brand-color;
		display: block;
		text-transform: uppercase;
}
