.remarks{
	& blockquote{
		& p{
			width: 545px;
			margin:0 auto;
			padding: 0 0 60px;
			font:400 20px/25px Oswald, sans-serif;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				width: 170px;
				height: 2px;
				background: $brand-color;
				bottom:25px;
				left:34%;
			}
		}
		& cite{
			font:16px/20px Oswald, sans-serif;
		}
	}
}