.services{
	padding:61px 0 66px;
	text-align:center;
	font: 300 16px/25px Oswald, sans-serif;
	color:$text-color-dark;

	& p{
		margin:0 0 62px;
	}
}
.ico-holder{
	width:106px;
	height:106px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	background: $brand-color;
	color:#fff;
	font-size:40px;
	margin:0 auto;
	& i{
		color:#fff;
	}
}