.team{
	padding:60px 0;
	text-align:center;

	& h2{
		font:bold 30px/35px Oswald, sans-serif;
		color:#000;
		margin: 0 0 25px;
	}

	& p{
		font:300 16px/25px Oswald, sans-serif;
		color:$text-color-dark;
		margin: 0 0 25px;
	}
}
.person{
	& .photo{
		width: 250px;
		height: 270px;
		background: #11343a;
		margin:0 0 25px;
	}
	& .name{
		font:20px/25px Oswald, sans-serif;
		color: $brand-color;
		display: block;
		margin:0 0 5px;
	}

	& .position{
		font:16px/20px Oswald, sans-serif;
		color: $text-color-dark;
		display: block;
	}
}
.speach{
	background: $dark;
	font:300 16px/25px Oswald, sans-serif;
	color:$text-color-light;
	text-align:left;
	padding:66px 195px 42px 206px;

	& h4{
		font:20px/25px Oswald, sans-serif;
		color: $brand-color;
		margin:0 0 24px;
	}

	& p{
		margin: 0 0 24px;
	}

	& .links{
		margin:0;
		padding:0;
		list-style: none;

		& li{
			display: flex;
			justify-content: center;
			align-items:center;
			flex-direction: row;
			width: 37px;
			height: 37px;
			border:1px solid #fff;

			& a{
				color:#fff;
				text-decoration:none;
			}

			& i{
				font-size: 18px;
			}
		}
	}
}