.info-box{
	background: #11343a;
	padding:290px 0 231px;
	position: relative;
}
.title{
	background:#122a2f;
	padding:71px 0 65px 0;
	text-align:center;

	& h1{
		color: $text-color-light;
		font:bold 65px/70px Oswald;
		
		margin:0 0 47px;
	}
}