@font-face {
    font-family: 'Oswald';
    src: local('../fonts/oswald/Oswald Light'), 
         local('../fonts/oswald/Oswald-Light'), 
         url('../fonts/oswald/Oswaldlight.woff2') format('woff2'), 
         url('../fonts/oswald/Oswaldlight.woff') format('woff'), 
         url('../fonts/oswald/Oswaldlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('../fonts/oswald/Oswald Regular'), 
         local('../fonts/oswald/Oswald-Regular'), 
         url('../fonts/oswald/Oswaldregular.woff2') format('woff2'), 
         url('../fonts/oswald/Oswaldregular.woff') format('woff'), 
         url('../fonts/oswald/Oswaldregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('../fonts/oswald/Oswald Bold'), 
         local('../fonts/oswald/Oswald-Bold'), 
         url('../fonts/oswald/Oswaldbold.woff2') format('woff2'), 
         url('../fonts/oswald/Oswaldbold.woff') format('woff'), 
         url('../fonts/oswald/Oswaldbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icons/icomoon.eot?2jki9j');
    src:    url('../fonts/icons/icomoon.eot?2jki9j#iefix') format('embedded-opentype'),
        url('../fonts/icons/icomoon.ttf?2jki9j') format('truetype'),
        url('../fonts/icons/icomoon.woff?2jki9j') format('woff'),
        url('../fonts/icons/icomoon.svg?2jki9j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-analys:before {
    content: "\e900";
}
.icon-arrows:before {
    content: "\e901";
}
.icon-arrows-top:before {
    content: "\e902";
}
.icon-camera:before {
    content: "\e903";
}
.icon-clock:before {
    content: "\e904";
}
.icon-cloud:before {
    content: "\e905";
}
.icon-delivery:before {
    content: "\e906";
}
.icon-design:before {
    content: "\e907";
}
.icon-dribble:before {
    content: "\e908";
}
.icon-facebook:before {
    content: "\e909";
}
.icon-finger:before {
    content: "\e90a";
}
.icon-fynalis:before {
    content: "\e90b";
}
.icon-google:before {
    content: "\e90c";
}
.icon-house:before {
    content: "\e90d";
}
.icon-left-arrow:before {
    content: "\e90e";
}
.icon-mail:before {
    content: "\e90f";
}
.icon-pen:before {
    content: "\e910";
}
.icon-phone:before {
    content: "\e911";
}
.icon-prep:before {
    content: "\e912";
}
.icon-right-arrow:before {
    content: "\e913";
}
.icon-setting:before {
    content: "\e914";
}
.icon-support:before {
    content: "\e915";
}
.icon-test:before {
    content: "\e916";
}
.icon-twitter:before {
    content: "\e917";
}
.icon-working:before {
    content: "\e918";
}

